html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}

/* !START! Universal CSS for HEADER */
header{
    height: 18vh;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #800000;
    padding-left: 16vw;
    padding-right: 16vw;
}
a{
    text-decoration: none;
}

.header-logo{
    font-size: 30px
}

.header-logo h1{
    cursor: pointer;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.upLogo {
    position: absolute;
    margin: 75px;
    margin-left: 2vw;
}

.upLogo img {
    width: 200px;
    margin-left: 5.2vw;
    height: auto; 
}

/* !START! Universal CSS for Navigation Bar */
nav {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 4vw;
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s;
}

.navbar a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar a:hover:after{
    width: 100%;
}
/* !END! Universal CSS for Navigation Bar */
/* !END! Universal CSS for HEADER */

/* !START! Universal CSS for FOOTER */
footer {
    position: relative;
    bottom: 0;
    background: #800000;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    color: #008000;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content .upeeks-footer {
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 1.5vh;
}

.footer-content p {
    max-width: 35vw;
    margin: 10px auto;
    line-height: 30px;
    font-size: 15px;
    padding-bottom: 30px;
}

.socials {
    border-radius: 20px;
    padding: 8px 8px;
    background-color: #008000;
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 75px; 
    margin-right: 150px;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color 0.4s ease;
    letter-spacing: 10px;
}

.socials a:hover i {
    color: #005a00;
    transform: translateY(-2px);
}

.footer-bottom {
    width: 100%;
    padding: -90px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.footer-bottom p {
    font-size: 15px;
    word-spacing: 5px;
    color: #008000;
}
/* !END! Universal CSS for FOOTER */

/* Main Body Styles */
.home{
    background-color: #800000;
    display: flex;
    align-items: center;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1810px;
    overflow: hidden;
}

.slider-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.slide img {
    max-width: 100%;
    height: auto;
    display: block;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: gray;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}

.fit{
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    margin-left: 1vw;
    margin-right: 1vw;
}
.home a{
    float: right;
}
.fit a{
    display: block;
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #fff;
}
.fit i {
    font-size: 1.75rem;
    transition: color 0.4s ease;
}
