.conContact {
    position: relative;
    min-height: 70vh;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .conContent p{
    font-size: 22px;
    padding: 30px;
    font-family: Montserrat;
  }
  .conContact .conContent {
    max-width: 800px;
    text-align: center;
  }
  
  .conText p{
    font-size:17px;
    font-weight: 500;
    width: 80%;
    font-family: Montserrat;
    padding-top: 8px;
    color: black;
  }
  .conText h3{
    font-family: 'Open Sans', sans-serif;
  }
  .conContact .conContent h2 {
    font-size: 40px;
    font-weight: 700; 
    color: #800000;
    font-family: 'Open Sans', sans-serif;
  }
  
  .conContact .conContent p {
    font-weight: 500; 
  }
  
  .conContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .conContainer .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .conContainer .contactInfo .conBox {
    position: relative;
    padding: 20px 0;
    display: flex;
  }
    
  .conContainer .contactInfo .conBox .conIcons {
    min-width: 45px;
    height: 50px;
    background: rgb(248, 176, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    font-size: 22px;
  }
  
  .conContainer .contactInfo .conBox .conText {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: maroon;
    flex-direction: column;
    font-weight: 300;
  }
  .conContainer .contactInfo .conBox .text h3{
    font-weight: 500;
    color: #005a00;
  } 
  .contactForm{
    width: 40%;
    padding: 40px;
    background: #800000;
  }
  .contactForm h2{
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
  }
  .contactForm .inputBox{
    position: relative;
    width:100%;
    margin-top: 25px;
  }
  .contactForm .inputBox input{
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  .contactForm .inputBox span{
    position: absolute;
    left: 0;
    font-family: Montserrat;
    padding: 5px 0;
    font-size: 14px;
    margin: 10px 0;
    margin-left: 12px;
    pointer-events: none;
    transition: 0.25s;
    color: gray;
  }
  
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span{
    color:#fff;
    font-size: 14px;
    transform: translateY(-35px);
  }

  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span{
    color:#fff;
    font-size: 14px;
    transform: translateY(-40px);
  }
  .contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #005a00;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size:18px;
  }
  .contactForm .inputBox input[type="submit"]:active {
    background: #003e00;
  }
  .conIcons a:visited{
    color: black;
  }
  .conIcons a{
    color: black;
  }
  .inputBox textarea{
    padding: 12px;
  }