/* body{
    background-image: url("../img/YJM_8102.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
} */
h1{
    font-family: 'Open Sans', sans-serif;
}

main{
    margin-left: 300px;
    margin-right: 300px;
}

main h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.gallery-nav {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

.gallery-navbar {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.gallery-navbar li {
    margin: 0 80px;
}

.gallery-navbar a {
    position: relative;
    text-decoration: none;
    color: black; 
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.gallery-nav hr{
    width: 90%;
    height: 1px;
    background-color: black;
    margin: auto;
}

.preview{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.preview img{
    float: left;
    width: 100%;
}
.preview p{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    line-height: 50px;
    margin-top: 50px;
    border: 1px solid black;
}